
videoTestingWorkspace/libs/artoolkitplus-android-arm64.jar
videoTestingWorkspace/libs/artoolkitplus-android-x86.jar
videoTestingWorkspace/libs/artoolkitplus-android-x86_64.jar
videoTestingWorkspace/libs/artoolkitplus-linux-arm64.jar
videoTestingWorkspace/libs/artoolkitplus-linux-ppc64le.jar
videoTestingWorkspace/libs/artoolkitplus-linux-x86.jar
videoTestingWorkspace/libs/artoolkitplus-linux-x86_64.jar
videoTestingWorkspace/libs/artoolkitplus-platform.jar
videoTestingWorkspace/libs/artoolkitplus-windows-x86.jar
videoTestingWorkspace/libs/artoolkitplus-windows-x86_64.jar
videoTestingWorkspace/libs/artoolkitplus.jar
videoTestingWorkspace/libs/ffmpeg-android-arm64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-android-arm64.jar
videoTestingWorkspace/libs/ffmpeg-android-x86_64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-android-x86_64.jar
videoTestingWorkspace/libs/ffmpeg-linux-arm64.jar
videoTestingWorkspace/libs/ffmpeg-linux-ppc64le.jar
videoTestingWorkspace/libs/ffmpeg-linux-x86_64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-linux-x86_64.jar
videoTestingWorkspace/libs/ffmpeg-macosx-arm64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-macosx-arm64.jar
videoTestingWorkspace/libs/ffmpeg-macosx-x86_64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-macosx-x86_64.jar
videoTestingWorkspace/libs/ffmpeg-platform-gpl.jar
videoTestingWorkspace/libs/ffmpeg-platform.jar
videoTestingWorkspace/libs/ffmpeg-windows-x86_64-gpl.jar
videoTestingWorkspace/libs/ffmpeg-windows-x86_64.jar
videoTestingWorkspace/libs/ffmpeg.jar
videoTestingWorkspace/libs/flycapture-linux-arm64.jar
videoTestingWorkspace/libs/flycapture-linux-armhf.jar
videoTestingWorkspace/libs/flycapture-linux-x86.jar
videoTestingWorkspace/libs/flycapture-linux-x86_64.jar
videoTestingWorkspace/libs/flycapture-platform.jar
videoTestingWorkspace/libs/flycapture-windows-x86.jar
videoTestingWorkspace/libs/flycapture-windows-x86_64.jar
videoTestingWorkspace/libs/flycapture.jar
videoTestingWorkspace/libs/javacpp-android-arm64.jar
videoTestingWorkspace/libs/javacpp-android-x86_64.jar
videoTestingWorkspace/libs/javacpp-ios-arm64.jar
videoTestingWorkspace/libs/javacpp-ios-x86_64.jar
videoTestingWorkspace/libs/javacpp-linux-arm64.jar
videoTestingWorkspace/libs/javacpp-linux-ppc64le.jar
videoTestingWorkspace/libs/javacpp-macosx-arm64.jar
videoTestingWorkspace/libs/javacpp-macosx-x86_64.jar
videoTestingWorkspace/libs/javacpp-platform.jar
videoTestingWorkspace/libs/javacpp-windows-x86_64.jar
videoTestingWorkspace/libs/javacpp.jar
videoTestingWorkspace/libs/javacv.jar
videoTestingWorkspace/libs/leptonica-android-arm64.jar
videoTestingWorkspace/libs/leptonica-android-x86_64.jar
videoTestingWorkspace/libs/leptonica-linux-arm64.jar
videoTestingWorkspace/libs/leptonica-linux-ppc64le.jar
videoTestingWorkspace/libs/leptonica-linux-x86_64.jar
videoTestingWorkspace/libs/leptonica-macosx-x86_64.jar
videoTestingWorkspace/libs/leptonica-platform.jar
videoTestingWorkspace/libs/leptonica-windows-x86_64.jar
videoTestingWorkspace/libs/leptonica.jar
videoTestingWorkspace/libs/libdc1394-linux-arm64.jar
videoTestingWorkspace/libs/libdc1394-linux-armhf.jar
videoTestingWorkspace/libs/libdc1394-linux-ppc64le.jar
videoTestingWorkspace/libs/libdc1394-linux-x86.jar
videoTestingWorkspace/libs/libdc1394-linux-x86_64.jar
videoTestingWorkspace/libs/libdc1394-macosx-x86_64.jar
videoTestingWorkspace/libs/libdc1394-platform.jar
videoTestingWorkspace/libs/libdc1394-windows-x86.jar
videoTestingWorkspace/libs/libdc1394-windows-x86_64.jar
videoTestingWorkspace/libs/libdc1394.jar
videoTestingWorkspace/libs/libfreenect-linux-arm64.jar
videoTestingWorkspace/libs/libfreenect-linux-armhf.jar
videoTestingWorkspace/libs/libfreenect-linux-x86.jar
videoTestingWorkspace/libs/libfreenect-macosx-x86_64.jar
videoTestingWorkspace/libs/libfreenect-platform.jar
videoTestingWorkspace/libs/libfreenect-windows-x86.jar
videoTestingWorkspace/libs/libfreenect-windows-x86_64.jar
videoTestingWorkspace/libs/libfreenect.jar
videoTestingWorkspace/libs/libfreenect2-linux-x86.jar
videoTestingWorkspace/libs/libfreenect2-linux-x86_64.jar
videoTestingWorkspace/libs/libfreenect2-macosx-x86_64.jar
videoTestingWorkspace/libs/libfreenect2-platform.jar
videoTestingWorkspace/libs/libfreenect2.jar
videoTestingWorkspace/libs/librealsense-linux-arm64.jar
videoTestingWorkspace/libs/librealsense-linux-armhf.jar
videoTestingWorkspace/libs/librealsense-linux-x86.jar
videoTestingWorkspace/libs/librealsense-linux-x86_64.jar
videoTestingWorkspace/libs/librealsense-macosx-x86_64.jar
videoTestingWorkspace/libs/librealsense-platform.jar
videoTestingWorkspace/libs/librealsense-windows-x86.jar
videoTestingWorkspace/libs/librealsense-windows-x86_64.jar
videoTestingWorkspace/libs/librealsense.jar
videoTestingWorkspace/libs/librealsense2-linux-arm64.jar
videoTestingWorkspace/libs/librealsense2-linux-armhf.jar
videoTestingWorkspace/libs/librealsense2-linux-x86.jar
videoTestingWorkspace/libs/librealsense2-linux-x86_64.jar
videoTestingWorkspace/libs/librealsense2-macosx-x86_64.jar
videoTestingWorkspace/libs/librealsense2-platform.jar
videoTestingWorkspace/libs/librealsense2-windows-x86_64.jar
videoTestingWorkspace/libs/librealsense2.jar
videoTestingWorkspace/libs/openblas-android-arm64.jar
videoTestingWorkspace/libs/openblas-android-x86_64.jar
videoTestingWorkspace/libs/openblas-ios-arm64.jar
videoTestingWorkspace/libs/openblas-linux-arm64.jar
videoTestingWorkspace/libs/openblas-linux-ppc64le.jar
videoTestingWorkspace/libs/openblas-linux-x86_64.jar
videoTestingWorkspace/libs/openblas-macosx-arm64.jar
videoTestingWorkspace/libs/openblas-macosx-x86_64.jar
videoTestingWorkspace/libs/openblas.jar
videoTestingWorkspace/libs/opencv-android-x86_64.jar
videoTestingWorkspace/libs/opencv-ios-arm64.jar
videoTestingWorkspace/libs/opencv-ios-x86_64.jar
videoTestingWorkspace/libs/opencv-linux-arm64.jar
videoTestingWorkspace/libs/opencv-linux-x86_64-gpu.jar
videoTestingWorkspace/libs/opencv-linux-x86_64.jar
videoTestingWorkspace/libs/opencv-macosx-arm64.jar
videoTestingWorkspace/libs/opencv-platform-gpu.jar
videoTestingWorkspace/libs/opencv-platform.jar
videoTestingWorkspace/libs/opencv-windows-x86_64-gpu.jar
videoTestingWorkspace/libs/opencv-windows-x86_64.jar
videoTestingWorkspace/libs/opencv.jar
videoTestingWorkspace/libs/samples/AudioSplitMergeHelper.java
videoTestingWorkspace/libs/samples/BioInspiredRetina.java
videoTestingWorkspace/libs/samples/BlackBalls.jpg
videoTestingWorkspace/libs/samples/Blob1.jpg
videoTestingWorkspace/libs/samples/Blob2.jpg
videoTestingWorkspace/libs/samples/Blob3.jpg
videoTestingWorkspace/libs/samples/BlobDemo.java
videoTestingWorkspace/libs/samples/CaffeGooglenet.java
videoTestingWorkspace/libs/samples/ColoredObjectTrack.java
videoTestingWorkspace/libs/samples/DeepLearningFaceDetection.java
videoTestingWorkspace/libs/samples/DeinterlacedVideoPlayer.java
videoTestingWorkspace/libs/samples/Demo.java
videoTestingWorkspace/libs/samples/face.jpg
videoTestingWorkspace/libs/samples/FaceApplet.html
videoTestingWorkspace/libs/samples/FaceApplet.java
videoTestingWorkspace/libs/samples/FaceApplet.jnlp
videoTestingWorkspace/libs/samples/FacePreview.java
videoTestingWorkspace/libs/samples/FaceRecognizerInVideo.java
videoTestingWorkspace/libs/samples/FFmpegStreamingTimeout.java
videoTestingWorkspace/libs/samples/haarcascade_frontalface_alt2.xml
videoTestingWorkspace/libs/samples/HoughLines.java
videoTestingWorkspace/libs/samples/image0.png
videoTestingWorkspace/libs/samples/image1.png
videoTestingWorkspace/libs/samples/ImageSegmentation.java
videoTestingWorkspace/libs/samples/JavaFxPlayVideoAndAudio.java
videoTestingWorkspace/libs/samples/KazemiFacemarkExample.java
videoTestingWorkspace/libs/samples/LBFFacemarkExampleWithVideo.java
videoTestingWorkspace/libs/samples/MotionDetector.java
videoTestingWorkspace/libs/samples/OpenCVFaceRecognizer.java
videoTestingWorkspace/libs/samples/OpenCVFeatures2dSerialization.java
videoTestingWorkspace/libs/samples/OpticalFlowDense.java
videoTestingWorkspace/libs/samples/OpticalFlowTracker.java
videoTestingWorkspace/libs/samples/PacketRecorderTest.java
videoTestingWorkspace/libs/samples/PerspectiveWarpDemo.java
videoTestingWorkspace/libs/samples/pic1.png
videoTestingWorkspace/libs/samples/pom.xml
videoTestingWorkspace/libs/samples/PrincipalComponentAnalysis.java
videoTestingWorkspace/libs/samples/RealSense2DepthMeasuring.java
videoTestingWorkspace/libs/samples/RecordActivity.java
videoTestingWorkspace/libs/samples/Rice.jpg
videoTestingWorkspace/libs/samples/RLSA.java
videoTestingWorkspace/libs/samples/Shapes1.jpg
videoTestingWorkspace/libs/samples/Shapes2.jpg
videoTestingWorkspace/libs/samples/Similarity.java
videoTestingWorkspace/libs/samples/Smoother.java
videoTestingWorkspace/libs/samples/Square.java
videoTestingWorkspace/libs/samples/TemplateMatching.java
videoTestingWorkspace/libs/samples/WebcamAndMicrophoneCapture.java
videoTestingWorkspace/libs/samples/YOLONet.java
videoTestingWorkspace/libs/tesseract-android-arm64.jar
videoTestingWorkspace/libs/tesseract-android-x86_64.jar
videoTestingWorkspace/libs/tesseract-linux-arm64.jar
videoTestingWorkspace/libs/tesseract-linux-ppc64le.jar
videoTestingWorkspace/libs/tesseract-linux-x86_64.jar
videoTestingWorkspace/libs/tesseract-macosx-arm64.jar
videoTestingWorkspace/libs/tesseract-macosx-x86_64.jar
videoTestingWorkspace/libs/tesseract-platform.jar
videoTestingWorkspace/libs/tesseract-windows-x86_64.jar
videoTestingWorkspace/libs/tesseract.jar
videoTestingWorkspace/libs/videoinput-platform.jar
videoTestingWorkspace/libs/videoinput-windows-x86.jar
videoTestingWorkspace/libs/videoinput-windows-x86_64.jar
videoTestingWorkspace/libs/videoinput.jar
