/*CSS HEX*/
/*
--eerie-black: #181818ff;
--beige: #efefd0ff;
--amethyst: #9067c6ff;
--moonstone: #01a7c2ff;
--orange-crayola: #ff6b35ff;
*/
/* SCSS RGB */
/*
$eerie-black: rgba(24, 24, 24, 1);
$beige: rgba(239, 239, 208, 1);
$amethyst: rgba(144, 103, 198, 1);
$moonstone: rgba(1, 167, 194, 1);
$orange-crayola: rgba(255, 107, 53, 1);
*/